.Data {
  text-align: left;
  padding: 20px 40px 20px 10px; /*Changed - Jimit 15th Feb, 2017. CodeClimate issue */ /*Changed from margin to padding, 02/16/17 - Gulshan. To avoid horizontal scroll*/
  font-size: medium;
  padding-top: 20px;
}

.Div-container{
  width: 98%;
}
.Div-container .table-responsive{
  clear:both;
}
.Div-container table tbody tr:nth-child(even){
  /*background-color: #d9e0fa;*/
  background-color: #B2DFDB; /*changed by gulshan on 02/19*/
}
.Div-container table thead tr{
  /*background-color: #6e84d4*/
  background-color: #009688; /*changed by gulshan on 02/19*/
  color: #fff;
}

.Div-container table thead th{
  width:30%;
  display: inline-block;
  border-bottom: none;
}
.Div-container table tbody tr td{
  width:30%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}
