.Search-box {
  width: 300px;
  float: right;
}

/* Search styles */
#search {
  background: rgb(0,0,0); /* Fallback Color for browsers not supporting rgba */
  background: rgba(0,0,0,.375)
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQBJREFUeNqslI0RgyAMhdENWIEVWMEVXIGO0BW6Ah2hHcGOoCPYEewINFzBe9IA9id37w4kfEZesHHOCSYUqSPJML+RJlELDwN1pMHxMZNMkr8RTgyz2YPH5LmtwXpIHkOFmKhIlxowDmYAycKnHAHYcTCsSpXOJCie6YWDnXKLGeHLN2stGaqDsXXrX3GFcYcLrfhjtKEhffQ792gYT2nT6pJDjCw4z7ZGdGipOIqNbXIwFUARmCbKpMfYxsWJBmCEDoW7+gYUTAU2s3HJrK3AJvMLkqGHFLgWXTckm+SfSQexs+tLRqwVfgvjgMsvMAT689S5M/sk/I14kO5PAQYAuk6L1q+EdHMAAAAASUVORK5CYII=) no-repeat 14px 14px;
  text-indent: .75em;
  display: inline-block;
  border: 0 none;
  width: 0;
  height: 3em;
  border-radius: 3em;
  -o-transition: .3s; /* Opera browser */
  -moz-transition: .3s; /* Mozilla browser */
  -webkit-transition: .3s; /* Chrome browser */
  transition: .3s;
  cursor: pointer;
  -moz-appearance: none; /* Mozilla browser */
  -webkit-appearance: none; /* Chrome browser */
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  color: #999;
  vertical-align: baseline;
  border: 1px solid #ccc;
  margin:5px 0px;
  padding: 24px;
  padding-left: 26px;
}
input[type=search]::-webkit-search-cancel-button {
  -moz-appearance: none; /* Mozilla browser */
  -webkit-appearance: none;
}

#search:hover, #search:focus {
  background: #fff
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT5JREFUeNqsVLtOw0AQtIMlRJHCEhUVMg398QEUSZnSfILzCXxDPsFu6XAJHWnTcS1lWsprKdmLxtKwvjVBYaTV7cm+udnX5fPb+yyBSmwhVmK/FfPZLyjUPhI8YtXYi23EOovs7PzyevAbsWeoGg5HNUHsCipX8F9TZDOstVgLPxIsxW6w3sHv6dJ2StkLbh6IPtR/AWRfSIET20H9D2U1hfaAgxY2KMagcBSmg9/rmwx0lBqTzGfHoVfVHxXgXzCjHNRHnnHke4vMGc2q0RBR0GSeCLlpLaJGFWKUszVuib32nih7iTFrjXAPyGnQ48c3Gu5AOVlMtMk6NZuf+FiC+AIhV0T+pBQ5ntXceIJKqKko2duJ2TwoLAz5QTVnagJaXWEO8y/wSMuKH9RTJoCTHyNZFidOUEfNu/8WYAAOXUT04MOtlwAAAABJRU5ErkJggg==) 14px 14px no-repeat;
}

#search:focus { width: 100%; cursor: text; outline:none;}
